@{
    ViewData["Title"] = "Home Page";
}

<div class="container_index">
	<div class="row index_row">
		<div class="col-md-6 index_container_img">
			<!-- La imagen que queremos mostrar -->
			<img src="~/foto_perfil2.jpg" alt="Perfil" class="img-fluid index_img">
		</div>
		<div class="col-md-6 index_text">
			<h1>Portafolio WEB</h1>
			<h2>Dylan Casas</h2>
			<h3>Desarrollador Web</h3>
			<!-- El texto que queremos mostrar -->
			<p>Hola me llamo Dylan Casas, soy un Desarrollador Web apasionado por el código, al cual le encanta la resolución de problemas, los sistemas informaticos, la tecnología, entre otras cosas, ¡espero poder ayudarte!</p>
			<!-- El botón "Saber más" -->
			<button class="btn btn-primary index_button">Saber más</button>
		</div>
	</div>
</div>